:root {
  --header-color: #212121;
  --logo-color: #000000;
  --primary-text-color: #757575;
  --second-text-color: #ffffff;
  --primery-title-color: #ffffff;
  --secondary-title-color: #212121;
  --accent-color: #2196f3;
}

p,
h1,
h2,
h3 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
.header {
  background-color: var(--primery-title-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 90px;
}
.web {
  color: var(--accent-color);
}
.logo {
  color: var(--logo-color);
}

.header-mailto {
  list-style: none;
  text-decoration: none;
  color: var(--primary-text-color);
  margin-right: 50px;
}

.header-tel {
  color: var(--primary-text-color);
  list-style: none;
  text-decoration: none;
}

.body {
  font-family: "Roboto", sans-serif;
}

.list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
  display: flex;
}
.banner:not(:last-child) {
  margin-right: 50px;
}
.link {
  color: var(--accent-color);
  list-style: none;
  text-decoration: none;
}

.menu-link {
  color: var(--header-color);
  list-style: none;
  text-decoration: none;
}
.items {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  text-decoration: none;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.main {
  background: #e5e5e5;
}
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-title-color);
  display: flex;
  text-align: center;
  justify-content: center;

  margin-bottom: 30px;
}

.button {
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  display: flex;

  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.button {
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #188ce8;
}

.button-centr {
  display: flex;
  justify-content: center;
}
h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}
.psevdo {
  display: none;
}
h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  list-style: none;
  text-decoration: none;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-align: center;
  margin-bottom: 10px;
}

.list-centr {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.name-position {
  padding-top: 30px;
  padding-bottom: 30px;
}
.main-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.description-list:not(:last-child) {
  margin-right: 30px;
}

.idea {
  width: 270px;
  height: 101px;
  left: 515px;
  top: 774px;
}
.scroll {
  background: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}
.scroll-excellence {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.panel {
  margin-bottom: 10px;
}
.about {
  background: #ffffff;
  padding-bottom: 94px;
}
.rubric {
  text-align: center;
  margin-bottom: 50px;
}

.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our {
  text-align: center;

  margin-bottom: 50px;
}
.position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
}
.footer {
  font-family: "Roboto", sans-serif;

  background: #2f303a;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 60px;
  padding-bottom: 60px;
}

.studio {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primery-title-color);
}
.footer-way {
  color: var(--second-text-color);
  list-style: none;
  text-decoration: none;
  font-style: normal;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  list-style: none;
  text-decoration: none;
  font-style: normal;
}
.list-footer {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  list-style: none;
  text-decoration: none;
}

.snap {
  font-family: "Roboto", sans-serif;
  cursor: pointer;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  list-style: none;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #212121;
  display: flex;

  justify-content: center;
  margin-bottom: 50px;
}

.task {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
}
.snap-all {
  background: #2196f3;

  color: var(--second-text-color);
}
.pin:not(:last-child) {
  margin-right: 8px;
}

.draft {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.plan {
  flex-basis: calc(100% / 3- 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  margin-bottom: 4px;
}
.use {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
.progects {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.footer-road {
  margin-top: 20px;
  margin-bottom: 9px;
}
.footer-number {
  margin-top: 9px;
}
